<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
	<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>
	<link th:href="@{/css/starter.css}" rel="stylesheet"></link>	
	<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>

<body role="document">
	<!-- This section is navigation header fragment -->
	<div th:fragment="header"
		class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom:0">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">APLIKASI SAHAM</a>
				</div>
				
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#user" th:with="user=${usr}" data-toggle="dropdown" class="dropdown-toggle">
								Setting <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{changePassword}">Change Password</a>
								</li>
							</ul>
						</li>
						<li class="active"><a href="#" th:href="@{/logOut}">Logout</a></li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>

	<!-- This section is content fragment -->
	<div class="container theme-showcase" role="main">

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-separator"></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" align="center">Stock Exchange Dashboard</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Stock</strong>
						</div>

						<div class="panel-body">
							<form method="post" class="form-horizontal">

								<div class="ui-widget">
									<div class="col-md-4">
										<input type="text" class="form-control" id="stocks"
											placeholder="Search Stocks"></input>
									</div>
								</div>

								<button type="submit" class="btn btn-primary">Search</button>

							</form>

							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th align="center">Vol. Bid</th>
											<th align="center">Price Bid</th>
											<th>Price Offer</th>
											<th>Vol. Offer</th>
										</tr>
									</thead>
									<tbody align="center">
										<tr th:each="stockList : ${stockList}">
											<td class="danger" th:text="${stockList.buyLot}"></td>
											<td class="danger" th:text="${stockList.buyPrice}"></td>
											<td class="success" th:text="${stockList.sellPrice}"></td>
											<td class="success" th:text="${stockList.sellLot}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Menu</strong>
						</div>

						<div class="panel-body">
							<div class="table-menu">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#sectionBuy">Buy</a></li>
									<li><a data-toggle="tab" href="#sectionSell">Sell</a></li>
									<li><a data-toggle="tab" href="#sectionWithdraw">Withdraw</a></li>

								</ul>
								<div class="tab-content">
									<div id="sectionBuy" class="tab-pane fade in active">
										<br />
										<form name="buyform">
											<div class="dropdown">
												<label>Select A Stock</label> <br />
												<button class="btn btn-default dropdown-toggle"
													type="button" id="sahambeli" data-toggle="dropdown">
													Choose... <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu"
													aria-labelledby="menu1">
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">HTML</a></li>
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">CSS</a></li>
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">JavaScript</a></li>
													<li role="presentation" class="divider"></li>
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">About Us</a></li>
												</ul>
											</div>
											<br />
											<div class="form-group">
												<label>Price</label> <input class="form-control"
													id="hargabeli" placeholder="Enter Price" />
											</div>
											<br />
											<div class="form-group">
												<label>Lot</label> <input class="form-control" id="lotbeli"
													placeholder="Enter Lot" />
											</div>
											<br />
											<div class="form-group">
												<label>Total Price</label> <input class="form-control"
													placeholder="Total Price" />
											</div>
											<br /> <br /> <input name="transactiontype" type="hidden"
												value="buy" />
											<div class="form-group">
												<button type="button" class="btn btn-primary">BUY</button>
											</div>
										</form>
									</div>
									<div id="sectionSell" class="tab-pane fade">
										<br />
										<form name="sellform">
											<div class="form-group">
												<label>Stock Code</label> <input class="form-control"
													id="sahamjual" placeholder="Enter Stock Code" />
											</div>
											<br />
											<div class="form-group">
												<label>Price</label> <input class="form-control"
													id="hargajual" placeholder="Enter Stock Code" />
											</div>
											<br />
											<div class="form-group">
												<label>Lot</label> <input class="form-control" id="lotjual"
													placeholder="Enter Lot" />
											</div>
											<br />
											<div class="form-group">
												<label>Total Price</label> <input class="form-control" />
											</div>
											<br /> <br />
											<div class="form-group">
												<button type="button" class="btn btn-success">SELL</button>
											</div>
										</form>
									</div>
									<div id="sectionWithdraw" class="tab-pane fade">
										<br />
										<div class="form-group">
											<label>Order ID</label> <input class="form-control"
												id="orderid" readonly="readonly" />
										</div>
										<br />
										<div class="form-group">
											<label>Stock Code</label> <input class="form-control"
												id="sahambatal" readonly="readonly" />
										</div>
										<br /> <br />
										<div class="form-group">
											<button type="button" class="btn btn-warning">WITHDRAW</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Order List</strong>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>#ID Order</th>
											<th>Stock Code</th>
											<th>Volume</th>
											<th>Price</th>
											<th>Date Time</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="orderList : ${orderList}">
											<td th:text="${orderList.idorder}"></td>
											<td th:text="${orderList.saham.idsaham}"></td>
											<td th:text="${orderList.lot}"></td>
											<td th:text="${orderList.price}"></td>
											<td th:text="${orderList.dateorder}"></td>
											<td th:text="${orderList.status}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page wrapper -->

	</div>

	<!-- This section is footer fragment -->
	<div th:fragment="footer" id="footer">
		<hr />
		<div class="container">
			<p class="muted credit">This example project is copyright by you.</p>
		</div>
	</div>
</body>
</html>